/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require bootstrap_and_overrides
 *= require_self
 */


.navbar .brand {
    font-size: 40px;
    color: #eee;
    &:first-letter {
	color: #B33;
    }
}

#user-nav-container {
    padding-right: 0px;
    li > a.user-nav-link {
	padding: 8px 12px 8px 12px;
	> img {
	    width: 64px;
	    height: 64px;
	    margin-left: 12px;
	    border-radius: 4px;
	}
    }
}

.container.main {
    padding-top: 40px;
    background: #FFF;
}

#nav {
    background: #FFF;
}
