/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require bootstrap_and_overrides
 *= require slabtext
 *= gmaps4rails
 *= require_self
 */

html {
    height: 100%;

    body {
	background-image: url(/assets/stripes.png);
	height: 100%;

	.navbar {
	    margin-bottom: 0px;

	    .navbar-inner {
		border-radius: 0px;

		.brand {
		    font-size: 40px;
		    color: #eee;
		    letter-spacing: 8px;
		    &:first-letter {
			color: #B33;
		    }
		}
		.typeahead.dropdown-menu {
		    li {
			min-width: 300px;
		    }
		}
		#user-nav-container {
		    padding-right: 0px;
		    li > a.user-nav-link {
			padding: 8px 12px 8px 12px;
			> img {
			    width: 64px;
			    height: 64px;
			    margin-left: 12px;
			    border-radius: 4px;
			}
		    }
		}
	    }
	}
	
	.container.main {
	    background: #FFF;
	    width: 960px;
	    min-height: 100%;
	    padding-top: 30px;

	    h2.username.slab {
		color: #333;
		visibility: hidden;
		&.slabtextdone {
		    visibility: visible;
		}
		.slabtext {
		    letter-spacing: 0px !important;
		}
	    }

	    #map {
		height: 340px;
		border: 2px solid #333;
		border-radius: 2px;

		img { 
		    max-width: none;
		}
		label { 
		    width: auto; display:inline; 
		}
	    } 
	}
	footer {
	    margin-top: 20px;
	}
    }
}

