/*
 *= require slabtext
 */

@import url(http://fonts.googleapis.com/css?family=Varela+Round);

#main-content {
    background: transparent;
}

.span8 {
       padding-right: 30px;
}

h2.slab {
    font-family: 'Varela Round', sans-serif;
    text-shadow:  #611 0.1em 0.1em 0,
                  #611 0.2em 0.2em 0,
		  #611 0.3em 0.3em 0,
 		  #611 0.4em 0.4em 0;
    color: #FFF;
}

footer {
    display: none;
}
