/*
 *= require slabtext
 */

@import url(http://fonts.googleapis.com/css?family=Varela+Round);

body {

}

#main-content {
    background: transparent;
}

h2.slab {
    font-family: 'Varela Round', sans-serif;
    text-shadow:  #002 0.1em 0.1em 0,
                  #002 0.2em 0.2em 0,
		  #002 0.3em 0.3em 0,
 		  #002 0.4em 0.4em 0;
    line-height: 1px;
    padding-right: 1em;
    color: #FFF;
    -webkit-text-stroke: 3px black;
}

footer {
    display: none;
}
